<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candy App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css"> 
</head>

<body>
    <h1>Candy Shop</h1>
    <% include ./partials/candy/index %>
    <hr>
    <div class="container">
        <% include ./partials/candy/form %>
    </div> 
    <footer>
        <% include ./partials/candy/footer %>
    </footer>
</body>
</html>